{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure     {:mvn/version "1.11.1"}

           ring/ring-core          {:mvn/version "1.9.6"}
           ring/ring-jetty-adapter {:mvn/version "1.9.6"}
           metosin/reitit          {:mvn/version "0.5.18"}

           com.xtdb/xtdb-core      {:mvn/version "1.22.1"}
           com.xtdb/xtdb-rocksdb   {:mvn/version "1.22.1"}}

 :aliases {:dev         {:extra-paths ["dev"]
                         :extra-deps  {thheller/shadow-cljs {:mvn/version "2.20.16"}
                                       reagent/reagent      {:mvn/version "1.1.1"}
                                       cljsjs/react         {:mvn/version "18.2.0-1"}
                                       cljsjs/react-dom     {:mvn/version "18.2.0-1"}}}
           :test        {:extra-paths ["test"]
                         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                                       clj-http/clj-http   {:mvn/version "3.12.3"}}}
           :test-runner {:extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                                      clj-http/clj-http   {:mvn/version "3.12.3"}}
                         :exec-fn    kaocha.runner/exec-fn
                         :exec-args  {}}
           :build       {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.0" :git/sha "8c93e0c"}}
                         :ns-default build}}}